body {
      font-family: 'Bangers', cursive;
      background: #122c36e3
}

.text-color {
      color: #fff;
}

section {
      max-width: 500px;
      margin: 0 auto;
}

.link-picture .fa-link:before {
      background: -webkit-linear-gradient(45deg, #1fddff, #1fddff 50%, #923de0 50%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}

input {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
}

.form-control:hover,
.form-control:focus {
      border-color: #686868;
}

.form-control:focus,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
      box-shadow: none;
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
      border-color: #686868;
      background: none;
      padding-right: inherit;
}

.footer {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      padding-top: 70px;
      color: rgb(255, 255, 255);
}